<!DOCTYPE html>
<html>
<head>
  <title>Priorities Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <%= favicon_link_tag 'checkmark.png' %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6 hidden-xs-down bg-faded sidebar">
        <%= render "shared/navbar" %>
    </div>

    <div class="col-sm-6 offset-sm-6 col-md-6 offset-md-6 pt-6">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>  
</div>

    <footer>
      <div class="container-fluid">
          <h3>© Jon O. Schwartz 2016 ~ Check out my personal website <a href="http://www.jonoschwartz.com/index.html">here</a></h3>
      </div>
    </footer>
</body>
</html>
